{% extends '::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptsTop %}
    {{ parent() }}
{% endblock %}
{% block headernav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="cover-home"><h1 class="text-uppercase">coursier à la demande</h1>

        <p>Commandez votre coursier et demandez la livraison de vos médicaments à votre position GPS </p>
    </div>
    <div class="container ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 interligne ">
            <h3>Formulaie de commande</h3>

            <div class="form-group ">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon2"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        {{ form_errors(form.commande.libelle) }}
                        {{ form_widget(form.commande.libelle, { 'attr': {'class': 'form-control input-sm','placeholder': 'Libelle * '} }) }}
                    </div>
                    <div class="input-group con input-group-sm">
                        {{ form_errors(form.commande.ordonance) }}
                        {{ form_widget(form.commande.ordonance) }}
                    </div>
                    <div class="input-group con input-group-sm">
                        {{ form_errors(form.commande.description) }}
                        {{ form_widget(form.commande.description, { 'attr': {'class': 'form-control input-sm','placeholder': 'description * '} }) }}
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon2"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        {{ form_errors(form.client.name) }}
                        {{ form_widget(form.client.name, { 'attr': {'class': 'form-control input-sm','value' : app.user.name,'placeholder': 'Nom * '} }) }}
                    </div>
                    <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon2"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        {{ form_errors(form.client.username) }}
                        {{ form_widget(form.client.username, { 'attr': {'class': 'form-control input-sm','value' : app.user.username,'placeholder': 'Prenom *'} }) }}
                    </div>
                    <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon1"><span
                                            class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                        {{ form_errors(form.client.email) }}
                        {{ form_widget(form.client.email, { 'attr': {'class': 'form-control input-sm','value' : app.user.email,'placeholder': 'Email Address * '} }) }}
                    </div>

                    <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon2"><span
                                            class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
                        {{ form_errors(form.client.mobile) }}
                        {{ form_widget(form.client.mobile, { 'attr': {'class': 'form-control input-sm','value' : app.user.mobile,'placeholder': 'Numéro de Téléphone * '} }) }}
                    </div>


                            <div class="input-group con input-group-sm">
                                {{ form_errors(form.client.adresse) }}
                                {{ form_widget(form.client.adresse, { 'value': app.user.adresse , 'attr': {'class': 'form-control input-sm','placeholder': 'adresse *'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
                                <input type="text"  class="lat" placeholder="latitude">
                             </div>
                            <div class="input-group con input-group-sm">
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
                                <input type="text"  class="long" placeholder="longitude">
                            </div>
                            <input type="button" value="Get my position" class="btn btn-success btn-md getpos">

                        </div>
                    </div>
                </div>
                </div>
                <input type="submit" value="Register" class="btn btn-primary btn-sm con">

                <p>* les champs obligatoire</p>

                {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}