{% extends '::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptsTop %}
    {{ parent() }}
{% endblock %}
{% block headernav %}
    {{ parent() }}
{% endblock %}
{% block body %}

<div class="cover-home"><h1 class="text-uppercase">coursier à la demande</h1><p>Commandez votre coursier et demandez la livraison de vos médicaments à votre position GPS </p>
    <button type="button" class="btnmdg  center-block " onclick='window.location="{{ path('user_Add_user') }}"'>COMMANDER UN COURSIER</button>
</div>
<div class="container interligne">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h3 class="text-center">COMMENT ÇA MARCHE?</h3><br /><br /></div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">

                {% image '@FrontendFrontendBundle/Resources/public/css/pic/cmd.svg' %}
                <img class="center-block" src="{{ asset_url }}" alt="..." />
                {% endimage %}
                <br />

                <p>Commandez un coursier directement sur notre site et demandez vos médicaments.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">

                {% image '@FrontendFrontendBundle/Resources/public/css/pic/clt.svg' %}
                <img class="center-block" src="{{ asset_url }}" alt="..." />
                {% endimage %}
                <br />

                <p>Un coursier se dirige <b>immédiatement</b> vers vous pour récupérer votre ordonnance si nécessaire sinon <b>directement</b> à la pharmacie.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center ">
                {% image '@FrontendFrontendBundle/Resources/public/css/pic/suiver.svg' %}
                <img class="center-block" src="{{ asset_url }}" alt="..." />
                {% endimage %}
                <br />

                <p>Ne perdez pas votre coursier de vue et suivez l'évolution de votre commande <b>en ligne et en temps réel.</b></p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                {% image '@FrontendFrontendBundle/Resources/public/css/pic/livrer.svg' %}
                <img class="center-block" src="{{ asset_url }}" alt="..." />
                {% endimage %}
                <br />

                <p>Recevez votre livraison et presentez votre <b>code d'accusé de réception </b> au coursier avec le paiement.</p>
            </div>


        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
